<ul>
  {{#each users as |user|}}
    <li>
      <p>User id: {{user.id}}</p>
      <p>Username: {{toUpperCase user.username}}</p>
      <p>User email: {{user.email}}</p>
      <p>User password: {{user.password}}</p>
    </li>
  {{/each}}
</ul>
