<form>
  <input id="email" type="text"/>
  <input id="password" type="password"/>
  <button id="login">Login</button>
</form>

{{#if loggedInUser}}
  <h1>Hello {{loggedInUser.username}}</h1>
  <h1>You're logged in</h1>
{{/if}}

<h1>Times you've visited this page: <b>{{visitCount}}</b></h1>
<h1>My name is Manny and my favorite food is {{ favoriteFood }}</h1>
{{> userList}}

