<h1>My name is Manny and my favorite food is {{ favoriteFood }}</h1>
<ul>
  {{#each users as |user|}}
    <li>
      <p>User id: {{user.id}}</p>
      <p>Username: {{user.username}}</p>
      <p>User email: {{user.email}}</p>
    </li>
  {{/each}}
</ul>
